# Исследование надежности заемщиков

Это первая часть проекта, она будет проверена автоматически. Вторую часть проверит ревьюер.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [5]:
# импортируйте библиотеку pandas
import pandas as pd

In [7]:
# прочитайте csv-файл
data = pd.read_csv('data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [10]:
# ваш код здесь
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [11]:
# ваш код здесь
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB
None

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [12]:
# ваш код здесь
print(data.isna().sum())

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [13]:
for d in data['income_type'].unique():
    data.loc[(data['income_type'] == d) & (data['total_income'].isna()), 'total_income'] = data.loc[(data['income_type'] == d), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. Таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [14]:
data['days_employed'] = abs(data['days_employed'])# ваш код здесь

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [15]:
print(data.groupby('income_type')['days_employed'].median())# ваш код здесь

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [16]:
# ваш код здесь
print(data['children'].unique())

[ 1  0  3  2 -1  4 20  5]

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [17]:
# ваш код здесь
index_names = data[(data['children'] == -1) | (data['children'] == 20)].index
data.drop(index_names, inplace = True)

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [18]:
# ваш код здесь
print(data['children'].unique())

[1 0 3 2 4 5]

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждому типу занятости `income_type`.**

In [19]:
# ваш код здесь
for d in data['income_type'].unique():
    data.loc[(data['income_type'] == d) & (data['days_employed'].isna()), 'days_employed'] = data.loc[(data['income_type'] == d), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [20]:
# ваш код здесь
print(data.isna().sum())

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [21]:
# ваш код здесь
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру.**

In [22]:
# ваш код здесь
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [23]:
# посчитайте дубликаты
print(data.duplicated().sum())

71

In [24]:
# удалите дубликаты
data=data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [25]:
# создайте функцию categorize_income()
def categorize_income(row):
    if 0 <= row['total_income'] <= 30000:
        return 'E'
    elif 30001 <= row['total_income'] <= 50000:
        return 'D'
    elif 50001 <= row['total_income'] <= 200000:
        return 'C'
    elif 200001 <= row['total_income'] <= 1000000:
        return 'B'
    else:
        return 'A'

In [26]:
# примените функцию методом apply()
data['total_income_category'] = data.apply(categorize_income,axis=1)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [27]:
# ваш код здесь
print(data['purpose'].unique())

['покупка жилья' 'приобретение автомобиля' 'дополнительное образование'
 'сыграть свадьбу' 'операции с жильем' 'образование'
 'на проведение свадьбы' 'покупка жилья для семьи' 'покупка недвижимости'
 'покупка коммерческой недвижимости' 'покупка жилой недвижимости'
 'строительство собственной недвижимости' 'недвижимость'
 'строительство недвижимости' 'на покупку подержанного автомобиля'
 'на покупку своего автомобиля' 'операции с коммерческой недвижимостью'
 'строительство жилой недвижимости' 'жилье'
 'операции со своей недвижимостью' 'автомобили' 'заняться образованием'
 'сделка с подержанным автомобилем' 'получение образования' 'автомобиль'
 'свадьба' 'получение дополнительного образования' 'покупка своего жилья'
 'операции с недвижимостью' 'получение высшего образования'
 'свой автомобиль' 'сделка с автомобилем' 'профильное образование'
 'высшее образование' 'покупка жилья для сдачи' 'на покупку автомобиля'
 'ремонт жилью' 'заняться высшим образованием']

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [28]:
# создайте функцию categorize_purpose()
def categorize_purpose(row):
    #print(row['purpose'])
    if 'авт' in row['purpose']:
        return 'операции с автомобилем'
    elif 'недв' in row['purpose'] or 'жил' in row['purpose']:
        return 'операции с недвижимостью'
    elif 'сва' in row['purpose']:
        return 'проведение свадьбы'
    elif 'обр' in row['purpose']:
        return 'получение образования'

In [29]:
# примените функцию методом apply()
data['purpose_category'] = data.apply(categorize_purpose,axis=1)

## Шаг 3

**Задание 19. Есть ли зависимость между количеством детей и возвратом кредита в срок?**

Интересующие нас колонки

In [116]:
data.loc[:,['children','debt']]

       children  debt
0             1     0
1             1     0
2             0     0
3             3     0
4             0     0
...         ...   ...
21520         1     0
21521         0     0
21522         1     1
21523         3     1
21524         2     0

[21331 rows x 2 columns]

Разобъем семьи на группы по количеству детей

In [241]:
data.groupby('children')['debt'].count()

children
0    14091
1     4808
2     2052
3      330
4       41
5        9
Name: debt, dtype: int64

Гипотеза: люди с детьми хуже возвращют кредиты, чем люди без детей

Найдем общее количество людей без детей

In [242]:
children0 = int(data.loc[data['children'] == 0]['children'].count())

Найдем общее количество людей без детей и с задолженностью

In [243]:
children0_debt = data.loc[(data['children'] == 0) & (data['debt'] == 1)]['children'].count()

Найдем процент людей без детей с долгами от общего количества

In [244]:
print(children0)

14091

In [245]:
print(children0_debt)

1063

In [246]:
float(children0_debt/children0 * 100)

7.543822297920659

Найдем общее количество людей c одним ребенком

In [247]:
children1 = int(data.loc[data['children'] == 1]['children'].count())

Найдем общее количество людей с одним ребенком и с задолженностью

In [248]:
children1_debt = data.loc[(data['children'] == 1) & (data['debt'] == 1)]['children'].count()

Найдем процент людей с 1 ребенком и с долгами от общего количества

In [249]:
print(children1)

4808

In [250]:
print(children1_debt)

444

In [251]:
float(children1_debt/children1 * 100)

9.234608985024959

Найдем общее количество людей c двумя детьми

In [252]:
children2 = int(data.loc[data['children'] == 2]['children'].count())

Найдем общее количество людей с одним ребенком и с задолженностью

In [253]:
children2_debt = data.loc[(data['children'] == 2) & (data['debt'] == 1)]['children'].count()

Найдем процент людей с двумя детьми с долгами от общего количества

In [254]:
print(children2)

2052

In [255]:
print(children2_debt)

194

In [256]:
float(children2_debt/children2 * 100)

9.4541910331384

Найдем общее количество людей c тремя детьми

In [257]:
children3 = int(data.loc[data['children'] == 3]['children'].count())

Найдем общее количество людей с тремя детьми и с задолженностью

In [258]:
children3_debt = data.loc[(data['children'] == 3) & (data['debt'] == 1)]['children'].count()

Найдем процент людей с тремя детьми и с долгами от общего количества

In [259]:
print(children3)

330

In [260]:
print(children3_debt)

27

In [261]:
float(children3_debt/children3 * 100)

8.181818181818182

Найдем общее количество людей c четыремя детьми

In [262]:
children4 = int(data.loc[data['children'] == 4]['children'].count())

Найдем общее количество людей с четыремя детьми и с задолженностью

In [263]:
children4_debt = data.loc[(data['children'] == 4) & (data['debt'] == 1)]['children'].count()

Найдем процент людей с четыремя детьми и с долгами от общего количества

In [264]:
print(children4)

41

In [265]:
print(children4_debt)

4

In [266]:
float(children4_debt/children4 * 100)

9.75609756097561

Найдем общее количество людей c пятью детьми

In [267]:
children5 = int(data.loc[data['children'] == 5]['children'].count())

Найдем общее количество людей с четыремя детьми и с задолженностью

In [268]:
children5_debt = data.loc[(data['children'] == 5) & (data['debt'] == 1)]['children'].count()

Найдем процент людей с пятью детьми и с долгами от общего количества

In [269]:
print(children5)

9

In [270]:
print(children5_debt)

0

In [271]:
float(children5_debt/children5 * 100)

0.0

Найдем среднее значение по просроченности кредита для людей с детьми

In [277]:
mean_family_with_debt = ((children1_debt/children1 * 100) + (children2_debt/children2 * 100) + (children3_debt/children3 * 100) + (children4_debt/children4 * 100) + (children5_debt/children5 * 100)) / 5
print(mean_family_with_debt)

7.325343152191431

**Исходя из полученных данных можно сделать вывод о том, что гопотеза подтвердилась для случаев с 1, 2, 3, 4 детьми (процент задолженности по возврату кредита вырос относительно людей без детей).Однако рост совсем незначительный относительно людей без детей. Для людей с пятью детьми оказалось, что задолженность по возврату кредита 0% (Однако это может быть связано с небольшим количеством людей из этой группы. Больше всего людей, которые брали кредиты - это люди без детей)**

**Задание 20. Есть ли зависимость между семейным положением и возвратом кредита в срок?**

In [185]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы
5,0,926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763,покупка жилья,B,операции с недвижимостью
6,0,2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525,операции с жильем,B,операции с недвижимостью
7,0,152.779569,50,среднее,1,женат / замужем,0,M,сотрудник,0,135823,образование,C,получение образования
8,2,6929.865299,35,высшее,0,гражданский брак,1,F,сотрудник,0,95856,на проведение свадьбы,C,проведение свадьбы
9,0,2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425,покупка жилья для семьи,C,операции с недвижимостью
10,2,4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943,покупка недвижимости,C,операции с недвижимостью
11,0,792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069,покупка коммерческой недвижимости,C,операции с недвижимостью
12,0,365286.622650,65,среднее,1,гражданский брак,1,M,пенсионер,0,118514,сыграть свадьбу,C,проведение свадьбы
13,0,1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458,приобретение автомобиля,C,операции с автомобилем
14,0,1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127,покупка жилой недвижимости,C,операции с недвижимостью
15,1,972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820,строительство собственной недвижимости,C,операции с недвижимостью
16,0,1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202,недвижимость,B,операции с недвижимостью
17,0,2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410,строительство недвижимости,C,операции с недвижимостью
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823,на покупку подержанного автомобиля,C,операции с автомобилем
19,0,10038.818549,48,среднее,1,в разводе,3,F,сотрудник,0,242831,на покупку своего автомобиля,B,операции с автомобилем

In [187]:
data.groupby('family_status')['family_status'].count()

family_status
Не женат / не замужем     2796
в разводе                 1189
вдовец / вдова             951
гражданский брак          4134
женат / замужем          12261
Name: family_status, dtype: int64

In [289]:
family_status = ['Не женат / не замужем','в разводе','вдовец / вдова','гражданский брак','женат / замужем']
def find_percent_family_by_debt(data,position):
    family_amount = int(data.loc[data['family_status'] == family_status[position]]['family_status'].count())
    print('общее количество людей из категории',family_status[position], family_amount)
    family_amount_debt = data.loc[(data['family_status'] == family_status[position]) & (data['debt'] == 1)]['children'].count()
    print('общее количество людей из категории',family_status[position],'c задолженностью по возврату кредита', family_amount_debt)
    print('процент людей с задолженностью по возврату кредита от общего количества',family_amount_debt/family_amount * 100)

In [290]:
find_percent_family_by_debt(data,0)

общее количество людей из категории Не женат / не замужем 2796
общее количество людей из категории Не женат / не замужем c задолженностью по возврату кредита 273
процент людей с задолженностью по возврату кредита от общего количества 9.763948497854077

In [291]:
find_percent_family_by_debt(data,1)

общее количество людей из категории в разводе 1189
общее количество людей из категории в разводе c задолженностью по возврату кредита 84
процент людей с задолженностью по возврату кредита от общего количества 7.064760302775442

In [292]:
find_percent_family_by_debt(data,2)

общее количество людей из категории вдовец / вдова 951
общее количество людей из категории вдовец / вдова c задолженностью по возврату кредита 63
процент людей с задолженностью по возврату кредита от общего количества 6.624605678233439

In [293]:
find_percent_family_by_debt(data,3)

общее количество людей из категории гражданский брак 4134
общее количество людей из категории гражданский брак c задолженностью по возврату кредита 385
процент людей с задолженностью по возврату кредита от общего количества 9.313014029995163

In [294]:
find_percent_family_by_debt(data,4)

общее количество людей из категории женат / замужем 12261
общее количество людей из категории женат / замужем c задолженностью по возврату кредита 927
процент людей с задолженностью по возврату кредита от общего количества 7.560557866405676

**Исходя из полученных данных можно сделать вывод о том, что люди из категории (Не женат / не замужем, гражданский брак) более склонны к просрочке кредитов. Меньше всего просрочек в категории (вдовец / вдова)**

**Задание 21. Есть ли зависимость между уровнем дохода и возвратом кредита в срок?**

In [198]:
data.groupby('total_income_category')['total_income_category'].count()

total_income_category
A       25
B     5014
C    15921
D      349
E       22
Name: total_income_category, dtype: int64

In [283]:
income_category = ['A','B','C','D','E']
def find_percent_family_by_debt(data,position):
    income_amount = int(data.loc[data['total_income_category'] == income_category[position]]['total_income_category'].count())
    print('общее количество людей из категории',income_category[position], income_amount)
    income_amount_debt = data.loc[(data['total_income_category'] == income_category[position]) & (data['debt'] == 1)]['total_income_category'].count()
    print('общее количество людей из категории',income_category[position],'c задолженностью по возврату кредита', income_amount_debt)
    print('процент людей с задолженностью по возврату кредита от общего количества',income_amount_debt/income_amount * 100)

In [284]:
find_percent_family_by_debt(data,0)

общее количество людей из категории A 25
общее количество людей из категории A c задолженностью по возврату кредита 2
процент людей с задолженностью по возврату кредита от общего количества 8.0

In [285]:
find_percent_family_by_debt(data,1)

общее количество людей из категории B 5014
общее количество людей из категории B c задолженностью по возврату кредита 354
процент людей с задолженностью по возврату кредита от общего количества 7.060231352213801

In [286]:
find_percent_family_by_debt(data,2)

общее количество людей из категории C 15921
общее количество людей из категории C c задолженностью по возврату кредита 1353
процент людей с задолженностью по возврату кредита от общего количества 8.498209911437723

In [287]:
find_percent_family_by_debt(data,3)

общее количество людей из категории D 349
общее количество людей из категории D c задолженностью по возврату кредита 21
процент людей с задолженностью по возврату кредита от общего количества 6.017191977077363

In [288]:
find_percent_family_by_debt(data,4)

общее количество людей из категории E 22
общее количество людей из категории E c задолженностью по возврату кредита 2
процент людей с задолженностью по возврату кредита от общего количества 9.090909090909092

0–30000 — 'E';
30001–50000 — 'D';
50001–200000 — 'C';
200001–1000000 — 'B';
1000001 и выше — 'A'.

**Исходя из полученных данных можно сделать вывод о том, что больше всего задолженности у людей с доходом до 30000. Самый маленький процент по задолженности у людей с доходом 30001-50000**

**Задание 22. Как разные цели кредита влияют на его возврат в срок?**

In [206]:
data.groupby('purpose_category')['purpose_category'].count()

purpose_category
операции с автомобилем       4279
операции с недвижимостью    10751
получение образования        3988
проведение свадьбы           2313
Name: purpose_category, dtype: int64

In [226]:
purpose_category = ['операции с автомобилем','операции с недвижимостью','получение образования','проведение свадьбы']
def find_percent_purpose_by_debt(data,position):
    purpose_amount = int(data.loc[data['purpose_category'] == purpose_category[position]]['purpose_category'].count())
    print('общее количество людей из категории',purpose_category[position], purpose_amount)
    purpose_amount_debt = data.loc[(data['purpose_category'] == purpose_category[position]) & (data['debt'] == 1)]['purpose_category'].count()
    print('общее количество людей из категории',purpose_category[position],'c задолженностью по возврату кредита',  purpose_amount_debt)
    print('процент людей с задолженностью по возврату кредита от общего количества',purpose_amount_debt/purpose_amount * 100)

In [227]:
find_percent_purpose_by_debt(data,0)

общее количество людей из категории операции с автомобилем 4279
общее количество людей из категории операции с автомобилем c задолженностью по возврату кредита 400
процент людей с задолженностью по возврату кредита от общего количества 9.34797849964945

In [228]:
find_percent_purpose_by_debt(data,1)

общее количество людей из категории операции с недвижимостью 10751
общее количество людей из категории операции с недвижимостью c задолженностью по возврату кредита 780
процент людей с задолженностью по возврату кредита от общего количества 7.255139056831923

In [229]:
find_percent_purpose_by_debt(data,2)

общее количество людей из категории получение образования 3988
общее количество людей из категории получение образования c задолженностью по возврату кредита 369
процент людей с задолженностью по возврату кредита от общего количества 9.252758274824474

In [230]:
find_percent_purpose_by_debt(data,3)

общее количество людей из категории проведение свадьбы 2313
общее количество людей из категории проведение свадьбы c задолженностью по возврату кредита 183
процент людей с задолженностью по возврату кредита от общего количества 7.911802853437094

**Исходя из полученных данных можно сделать вывод о том, что люди более отвественно подходят к возврату кредита из категории: операции с недвижимостью и проведение свадьбы. К категориям возврата кредита по операциям с автомобилем и получением образования люди относятся менее ответсвенно**

**Задание 23. Приведите возможные причины появления пропусков в исходных данных.**

В исходных данных пропуски могли возникнуть пропуски по причине отсутствия данных у отдельных людей(также,возможно,это необязательная информация для предоставления кредита). Также, возможно, люди решили скрыть данные о своих доходах. Что касается дней по трудоустройству, то может быть так, что человек работал неофициально или не был трудоустроен.

**Задание 24. Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.**

Заполнение пропущенных данных медианным значением наиболее точно отображает реальную ситацию в отличие от среднего значения, которое очень чувствительно к выбросам в исходных данных

## Шаг 4

**Выводы**: наиболее надежные заемщики - это люди без детей и с категорией: в разводе; женат / замужем; вдовец / вдова. Также нужно учитывать категорию, на которую человек берет кредит. Лучше предоставить кредит на следующие цели: операции с недвижимостью и проведение свадьбы.